@media only screen and (max-width: 1200px) {
    header .header-content {
      padding-top: 6em;
    }
  
    .section-description .section-description-game .about-game {
      padding-top: 0em;
    }
  
    .section-description .section-description-game .about-game h3 {
      font-size: 1.5em;
    }
  
    .section-description .section-description-game .about-game h1 {
      font-size: 3em;
    }
  
    .section-top-scorer .section-top-score .text-top-score h1 {
      color: #FFF;
      font-size: 2em;
    }
  
    .section-top-scorer .section-top-score .text-top-score p {
      font-size: 1em;
    }
    .section-top-scorer .section-top-score .text-top-score a.btn-link-top-score {
      margin-bottom: 10px;
    }
    .section-top-scorer .section-top-score .card-top-score:nth-child(2) {
      display: none;
    }
  
    .section-description .section-description-game .photo-about-game {
      padding-top: 0em;
    }
  
    .section-spesification .spesification-run-game h4 {
      padding-bottom: 0em;
    }
    .section-top-scorer .section-top-score .text-top-score {
      padding-top: 0em;
      box-sizing: border-box;
    }
  
    .section-top-scorer .section-top-score .card-top-score:nth-child(even) {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 0px;
    }
  
    .section-newsletter .section-newsletter-content .img-right img {
      display: none;
    }
    
    .section-newsletter .section-newsletter-content .form-subscribe-newsletter input {
      background-color: #1C1E1F;
      border: 1px solid #1C1E1F;
      padding: 10px;
      color: white;
    }
    .section-newsletter .section-newsletter-content .form-subscribe-newsletter .btn-subscribe-newsletter {
      background-image: linear-gradient(#FFB548, #F3AF34);
      padding: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  
    .section-newsletter .section-newsletter-content .newsletter-text h1 {
      color: #FFF;
      font-size: 40px;
      font-weight: 400;
    }
  
    .section-newsletter .section-newsletter-content .newsletter-text h3 {
      font-size: 1.5em;
    }
    
    .section-newsletter .section-newsletter-content .newsletter-text h1 {
      font-size: 2.5em;
    }
    .section-newsletter .section-newsletter-content .newsletter-text p {
      font-size: 1em;
    }
  } 
  
  @media only screen and (max-width: 576px) {
    header .header-content {
      padding-top: 6em;
    }
  
    .section-description .section-description-game .about-game {
      margin-top: 121px;
      padding-top: 0em;
    }
  
    .section-description .section-description-game .about-game h3 {
      font-size: 1.5em;
    }
  
    .section-description .section-description-game .about-game h1 {
      font-size: 3em;
    }
  
    .section-description .section-description-game .photo-about-game {
      margin-top: 2em;
      padding-top: 0em;
    }
  
    .section-top-scorer .section-top-score .text-top-score h1 {
      color: #FFF;
      font-size: 3em;
    }
    .section-top-scorer .section-top-score .text-top-score p {
      font-size: 1.5em;
    }
  
    .section-top-scorer .section-top-score .text-top-score a.btn-link-top-score {
      margin-bottom: 10px;
    }
  
    .section-top-scorer .section-top-score .card-top-score:nth-child(2) {
      display: none;
    }
  
    .section-top-scorer .section-top-score .card-top-score:nth-child(3) {
      display: none;
    }
  
    .section-spesification .spesification-run-game h4 {
      padding-bottom: 0px;
    }
  
    .section-top-scorer .section-top-score .text-top-score {
      padding-top: 0px;
      box-sizing: border-box;
    }
  
    .section-top-scorer .section-top-score .card-top-score:nth-child(even) {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 0px;
    }
  
    .section-newsletter .section-newsletter-content .img-right img {
      display: none;
    }
  
    .section-newsletter .section-newsletter-content .form-subscribe-newsletter input {
      background-color: #1C1E1F;
      border: 1px solid #1C1E1F;
      padding: 10px;
      color: white;
    }
    
    .section-newsletter .section-newsletter-content .form-subscribe-newsletter .btn-subscribe-newsletter {
      background-image: linear-gradient(#FFB548, #F3AF34);
      padding: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  
    .section-newsletter .section-newsletter-content .newsletter-text h1 {
      color: #FFF;
      font-size: 40px;
      font-weight: 400;
    }
  
    .section-newsletter .section-newsletter-content .newsletter-text h3 {
      font-size: 1.5em;
    }
    
    .section-newsletter .section-newsletter-content .newsletter-text h1 {
      font-size: 2.5em;
    }
    
    .section-newsletter .section-newsletter-content .newsletter-text p {
      font-size: 1em;
    }
  }
  
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  
  ul.navbar-menu li.nav-item a, ul.navbar-auth a {
    font-size: 14px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
  }
  
  .navbar-nav li a.nav-link:hover {
    color: #F3AF34;
  }
  
  
  
  header .header-content {
    padding-top: 15%;
  }
  
  header h1, header p {
    color: #fff;
  }
  
  header .header-content h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  header .header-content p {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 3px;
  }
  
  header .header-content a.btn-play {
    background-image: linear-gradient(#FFB548, #F3AF34);
    font-weight: bold;
    color: black;
    font-size: 16px;
  }
  
  header .header-content .btn-the-story {
    padding-top: 30%;
  }
  
  header .header-content a.btn-the-story {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 5px;
  }
  
  nav.navbar {
    opacity: 80%;
  }
  
  img.logo-app {
    border-radius: 10px;
  }
  
  header {
    background-image: url('../assets/main-bg.jpg');
    margin-top: -67px !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; 
    box-sizing: border-box;
  
  }
  
  
  header .header-content .section-the-story p {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }
  
  header .header-content .section-the-story img {
    width: 20px;
  }
  
  
  .section-description {
    background-image: url('../assets/the-games-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  .section-description .section-description-game .about-game {
    padding-top: 12em;
  }
  
  .section-description .section-description-game .about-game h3 {
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 14px;
    letter-spacing: 3px;
  }
  
  .section-description .section-description-game .photo-about-game {
    padding-top: 12em;
  }
  
  
  .section-features {
    background-image: url('../assets/features.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  
  .section-features .section-features-game .text-features h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
  }
  
  .section-features .section-features-game .text-features h1 {
    color: #FFF;
    font-size: 56px;
  }
  
  .section-features .section-features-game .accordion-features div.header-feature {
    color: #FFB548;
    text-transform: uppercase;
    font-size: 24px;
    font-size: 20px;
  }
  
  .tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex
  }
  
  .tl-item>* {
    padding: 10px
  }
  
  .tl-item:last-child .tl-dot:after {
    display: none
  }
  
  .tl-item.active .tl-dot:before {
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
  }
  
  .tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
  }
  
  
  .section-description .section-description-game .about-game h1 {
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 14px;
    letter-spacing: 3px;
  }
  
  .tl-dot:after {
    width: 0;
    height: auto;
    top: 40px;
    bottom: -25px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
  }
  
  .tl-content p:last-child {
    margin-bottom: 0
  }
  
  .b-white {
    border-color: #ffffff!important;
  }
  
  .tl-dot:after,
  .tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%)
  }
  
  .section-spesification .spesification-run-game h4 {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  
  .section-spesification .section-spesification-game .text-spesification h1 {
    color: white;
    font-size: 56;
    font-weight: 400;
  }
  
  .section-spesification .section-spesification-game .table-spesification table {
    border-color: #979797;
  }
  
  .section-spesification .section-spesification-game .table-spesification h4.spesification-header {
    color: #FFB548;
  }
  
  .section-spesification .section-spesification-game .table-spesification .spesification-content {
    color: #FFF;
  }
  
  .section-spesification {
    background-image: url('../assets/requirements.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  
  
  .section-top-scorer {
    background-image: url('../assets/top-score-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  .section-top-scorer .section-top-score .text-top-score h1 {
    color: #FFF;
    font-size: 56px;
  }
  
  .section-top-scorer .section-top-score .text-top-score p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
  }
  
  .section-newsletter {
    background-image: url('../assets/newsletter.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  .section-newsletter .section-newsletter-content .img-right img {
    width: 450px;
  }
  
  .section-top-scorer .section-top-score .card-top-score {
    background-color: #1B1D1E ;
    border-radius: 10px;
    box-sizing: border-box;
    width: 28rem;
  }
  
  .section-top-scorer .section-top-score .card-top-score img.img-shadow-top-score {
    box-shadow: 2px 4px 0px white;
    width: 75px;
  }
  
  .section-top-scorer .section-top-score .card-top-score h6 {
    font-size: 18px;
    color: white;
  }
  
  .section-top-scorer .section-top-score .card-top-score:nth-child(even) {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
  }
  
  .section-top-scorer .section-top-score .text-top-score a.btn-link-top-score {
    background-image: linear-gradient(#FFB548, #F3AF34);
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  
  .section-newsletter .section-newsletter-content .newsletter-text h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
  }
  
  .section-newsletter .section-newsletter-content .newsletter-text h1 {
    color: #FFF;
    font-size: 65px;
    font-weight: 400;
  }
  
  .section-newsletter .section-newsletter-content .newsletter-text p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
  }
  
  .section-newsletter .section-newsletter-content .form-subscribe-newsletter input {
    background-color: #1C1E1F;
    border: 1px solid #1C1E1F;
    padding: 10px;
    color: black;
  }
  
  .section-newsletter .section-newsletter-content .form-subscribe-newsletter input::-webkit-input-placeholder{
      color: #FFB548;
  }
   
  
  .section-newsletter .section-newsletter-content .form-subscribe-newsletter input:-moz-input-placeholder{
      color: #FFB548;
  }
   
  
  .section-newsletter .section-newsletter-content .form-subscribe-newsletter input:-ms-input-placeholder{
      color: #FFB548;
  }
  
  
  footer {
    background-color: black;
  }
  
  footer .section-footer-one a {
    color: palegreen;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
  }
  
  footer .section-footer-one a:hover {
    color: palegreen;
  }
  
  footer .section-footer-two div.text-copyright {
    font-size: 14px;
    color: palegreen;
  }
  
  footer .section-footer-two div.text-privacy a {
    color: palegreen;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .section-newsletter .section-newsletter-content .form-subscribe-newsletter .btn-subscribe-newsletter {
    background-image: linear-gradient(#FFB548, #F3AF34);
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
    font-weight: bold;
  }
  
  footer .section-footer-two div.text-privacy a:hover {
    color: teal;
  }
  
  